@model IEnumerable<Backlog.Models.MovieRecord>
@{
    ViewData["Title"] = "Home page";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<div class="text-left">
    <h1>Movie List:</h1>
    <ol class="list-group-item">
        @foreach (var movie in Model) { 
            <li>
                <img src=@movie.ThumbnailUrl style="width:92px;height:140px;">
                <span>
                    <a href="@movie.ImdbUrl" class="">@movie.Title</a>
                    <span>@movie.Year</span>
                    <button class="btn-outline-primary" onclick="deleteMovie(@movie.Id)">Remove</button>
                </span>
            </li>
        }
    </ol>
</div>
