@model IEnumerable<MovieBacklog.Models.MediaRecord>
@{
    ViewData["Title"] = "Home page";
}

@section scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

<div class="text-left">
    <h1>Tv Shows:</h1>
    <table class="list-group-item css-serial">
        @foreach (var show in Model)
        {
            <tr>
                <td></td>
                <td>
                    <img src=@show.ThumbnailUrl style="width:92px;height:140px;">
                </td>
                <td>
                    <a href="@show.ImdbUrl" class="">@show.Title</a>
                    <b> - (@show.Year)</b><br />
                    <button class="btn-outline-primary" onclick="deleteMovie(@show.Id)">Remove</button>
                </td>
            </tr>
        }
    </table>
</div>

<style>
    /*adding row numbers through css*/
    .css-serial {
        counter-reset: serial-number; /* Set the serial number counter to 0 */
    }

        .css-serial td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
</style>
